.wrapper{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    align-items: center;
    gap: 30px;
}

.wrapper2{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100px;
    justify-content: right;
}

.input::placeholder{
    color: rgba(20, 69, 132, 0.6);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.input{
    padding: 8px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: rgba(20, 69, 132, 0.9);
    border-radius: 5px;
    border: 1px solid rgba(20, 69, 132, 1);
    height: 33px;
}

.input:nth-child(1){
    width: 165px;
}

.input:nth-child(2){
    width: 150px;
}

.input:nth-child(3){
    width: 170px;
}

.input:nth-child(4){
    width: 135px;
}

img{
    border-radius: 30%;
}

img:hover{

}